*.py[cod]
*$py.class

# C extensions
*.so

build/
.DS_store

# Sphinx documentation
docs/_build/

.ipynb_checkpoints

cpai

example notebooks/Dodgem Game\.ipynb

example notebooks/mcts_dodgem_data\.json

example notebooks/f_hmcts_data\.json

example notebooks/Fox and Hounds\.ipynb
